<!--
  The sign up form should ask for the following information:
    first name, last name, email address, and phone number.

  It should also ask the user to specify the menu number that's their favorite dish.
  (The menu number is the short_name attribute of each menu item).
-->
<div class="myinfo">
  <div ng-if="myInfoCtrl.userinfo">
    <div>
      First name: {{myInfoCtrl.userinfo.firstName}} <br />
      Last name: {{myInfoCtrl.userinfo.lastName}} <br />
      Email address: {{myInfoCtrl.userinfo.email}} <br />
      Phone number: {{myInfoCtrl.userinfo.phone}} <br />
    </div>

    <div>
      <h2 class="text-center">Favorite</h2>
        <menu-item
                   menu-item="myInfoCtrl.menuItem">
        </menu-item>
    </div>
  </div>

  <!-- Everything else in this file regards a visitor who is not signed up -->

  <div ng-if="!myInfoCtrl.userinfo">
    <h2>Oh Dear, You're not signed up!!!!</h2>
    <button type="button" ui-sref="public.signup" class="btn btn-primary">Sign up Now!</button>
  </div>  <!-- ng-if="!myInfoCtrl.userinfo" -->

</div>
